@using Entities.Concrete
@model DailyWorkingTime
@{
    ViewBag.Title = "DailyWorkingTimeGetById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Günlük Çalışma Süresi Güncelle</h3>
@using (Html.BeginForm("DailyWorkingTimeUpdate", "DailyWorkingTime", FormMethod.Post))
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>

                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td class="sorting_1"><b>Günlük Çalışma Süresi</b></td>
                        <td>
                            @Html.HiddenFor(x => x.GunlukCalismaSureId)
                            @Html.TextBoxFor(x => x.GunlukCalismaSuresi, null, new { @class = "form-control" })
                        </td>
                    </tr>
            </table>
            <button class="btn btn-warning">Güncelle</button>
        </div>
    </div>
}


