
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">İzin Bilgileri</h3>
    </div>
    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending">İzin Şekli</th>

                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">İzin Sebebi</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Borclanma</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Yıl</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Ay</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Gün</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Başlama Tarihi</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Bitiş Tarihi</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Onay Durumu</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" class="odd">
                <td class="sorting_1"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
    <!-- /.box-body -->
</div>


