
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Kurs Bilgileri</h3>
    </div>
    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending">Türü</th>

                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Şekli</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Konusu</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Kurs Sınav Adı</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Başlangıç Tarihi</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Bitiş Tarihi</th>

            </tr>
        </thead>
        <tbody>
            <tr role="row" class="odd">
                <td class="sorting_1"></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

        </tbody>
    </table>
    <!-- /.box-body -->
</div>


