
@using Entities.Concrete.DynamicDataEntity
@model ReasonForPermission
@{
    ViewBag.Title = "ReasonForPermissionGetById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>İzin Nedeni Güncelle</h3>
@using (Html.BeginForm("ReasonForPermissionUpdate", "ReasonForPermission", FormMethod.Post))
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>

                </thead>
                <tbody>

                    <tr role="row" class="odd">
                        <td class="sorting_1"><b>İzin Nedeni</b></td>
                        <td>
                            @Html.HiddenFor(x => x.IzinNedenId)
                            @Html.TextBoxFor(x => x.IzinNedeni, null, new { @class = "form-control" })
                        </td>
                    </tr>

                </tbody>
            </table>
            <button class="btn btn-warning">Güncelle</button>
        </div>
    </div>
}

