@using Entities.Concrete
@model SgkJobCode
@{
    ViewBag.Title = "SgkJobCodeGetById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Sgk Meslek Kolları Güncelle</h3>
@using (Html.BeginForm("SgkJobCodeUpdate", "SgkJobCode", FormMethod.Post))
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>

                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td class="sorting_1"><b>Meslek Kodu</b></td>

                        <td>
                            @Html.TextBoxFor(x => x.SgkMeslekKodId, null, new { @class = "form-control" })
                        </td>
                        <td><b>Meslek Kolu</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.SgkMeslekKodAdi, null, new { @class = "form-control" })
                        </td>
                    </tr>
            </table>
            <button class="btn btn-warning">Güncelle</button>
        </div>
    </div>
}


