

@using Entities.Concrete.DynamicDataEntity
@model ReasonForDesignation
@{
    ViewBag.Title = "ReasonForDesignationGetById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Atama Nedeni Güncelle</h3>
@using (Html.BeginForm("ReasonForDesignationUpdate", "ReasonForDesignation", FormMethod.Post))
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>

                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td class="sorting_1"><b>İzin Nedeni</b></td>
                        <td>
                            @Html.HiddenFor(x => x.AtamaIstegiNedeniId)
                            @Html.TextBoxFor(x => x.AtamaIstegiNeden, null, new { @class = "form-control" })
                        </td>
                    </tr>
            </table>
            <button class="btn btn-warning">Güncelle</button>
        </div>
    </div>
}

